.ui-container {
  margin: 2rem;
  display: flex;
  gap: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0);
}

.ui-top-section {
  display: flex;
  gap: 10px;
}

.ui-main-section {
  display: flex;
}

.ui-top-section img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.links {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.links:hover {
  text-decoration: underline;
}
.repo-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.repo-info p,
a {
  text-align: center;
}

.avatar {
  margin-top: 20px;
  border-radius: 50%;
  border: 10px solid #ffbfcc;
}
