.ui-container {
  margin: 2rem;
  display: flex;
  gap: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0);
}

.ui-top-section {
  display: flex;
  gap: 10px;
}

.ui-main-section {
  display: flex;
}

.ui-top-section img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.links {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.links:hover {
  text-decoration: underline;
}
.repo-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.repo-info p,
a {
  text-align: center;
}
.avatar-info {
  display: block;
  margin: auto;
  width: 80%;
}

.avatar-info-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar-info-info strong {
  color: #ffa7b9;
}
.follow {
  display: flex;
  gap: 10px;
}
.avatar {
  margin-top: 20px;
  border-radius: 50%;
  border: 10px solid #ffbfcc;
  width: 200px;
  width: 200px;
}

/* *********************media queries********************** */

@media (max-width: 800px) {
  .ui-container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .ui-container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .avatar-info-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 400px) {
  .input {
    width: 150px;
  }
  .avatar {
    width: 70%;
    border: 7px solid #ffbfcc;
  }
  .ui-container {
    width: 95%;
  }
  .avatar-info {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .input {
    margin: 2px;
    border-radius: 5px;
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }

  .avatar {
    width: 70%;
    border: 5px solid #ffbfcc;
  }
}
